<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean name="config" class="de.codesourcery.logreceiver.Configuration">
    </bean>

    <bean name="datasource" class="de.codesourcery.logreceiver.DataSourceFactory">
        <constructor-arg ref="config" />
    </bean>

    <bean name="hostIdManager" class="de.codesourcery.logreceiver.PostgreSQLHostIdManager">
        <constructor-arg ref="datasource"/>
        <constructor-arg ref="config"/>
    </bean>

    <bean name="logStorage" class="de.codesourcery.logreceiver.DelegatingLogStorage">
        <constructor-arg ref="datasource"/>
        <constructor-arg ref="hostIdManager"/>
        <constructor-arg ref="config"/>
    </bean>

    <bean name="logWriter" class="de.codesourcery.logreceiver.SQLLogWriter">
        <constructor-arg ref="logStorage"/>
        <constructor-arg ref="hostIdManager"/>
    </bean>

    <bean name="parser" class="de.codesourcery.logreceiver.RFC5424Parser" scope="prototype">
        <constructor-arg ref="hostIdManager"/>
        <constructor-arg ref="logWriter"/>
    </bean>

    <bean name="logParserFactory" class="de.codesourcery.logreceiver.LogParserFactory">
        <constructor-arg ref="hostIdManager"/>
        <constructor-arg ref="logWriter"/>
    </bean>

    <bean name="udpServer" class="de.codesourcery.logreceiver.UDPServer" lazy-init="false">
        <constructor-arg ref="config"/>
        <constructor-arg ref="logParserFactory"/>
    </bean>

    <bean name="messageDAO" class="de.codesourcery.logreceiver.MessageDAO">
        <constructor-arg ref="datasource"/>
    </bean>

    <bean name="api" class="de.codesourcery.logreceiver.APIImpl" lazy-init="false">
        <constructor-arg index="0" ref="hostIdManager"/>
        <constructor-arg index="1" ref="messageDAO"/>
    </bean>

</beans>